*.pyc
*.egg-info
*.log
__pycache__
.venv/
django_tagulous.egg-info

# Docs
docs/_*
build
dist

# Testing
.tox
.coverage*
htmlcov
.*_cache
tests/tagulous_tests_migration/migrations_*

# Examples
example/*.sqlite3
example/tagulous

# OS-specific
.DS_Store


