
div.tagulous_dropdown {
    position:   absolute;
    width:      300px;
    height:     200px;
    background:     #f0f0f0;
    
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
div.tagulous_dropdown ul {
    margin:     0;
    padding:    0;
    border:     1px solid #888;
    border-top: 0px;
}
div.tagulous_dropdown li {
    padding:    0;
    margin:     0;
}
div.tagulous_dropdown li span {
    display:    block;
    padding:    2px 4px;
    color:      #000;
    cursor:     default;
}
div.tagulous_dropdown li span.selected {
    color:          #fff;
    background:     #4892e7;
}
